{{ define "main" }}

{{ with .Params.images }}
<section class="py-4 pb-12 sm:p-8 lg:px-16 lg:py-4">
  <div class="container mx-auto">

    <div class="grid grid-cols-1 sm:grid-cols-3 gap-4 pb-4">
      {{ range .cols }}
      <div class="grid grid-cols-1 gap-4">
        <div class="sm:relative group">
          {{ $tlImageNameSmall := printf "images/birds/%s-sm.jpg" .top }}
          {{ $tlImageSmall := resources.Get $tlImageNameSmall }}
          {{ $tlImageNameLarge := printf "images/birds/%s-lg.jpg" .top }}
          {{ $tlImageLarge := resources.Get $tlImageNameLarge }}

          <picture>
            <source media="(max-width: 640px)" srcset="{{ $tlImageSmall.RelPermalink }}">
            <source media="(min-width: 641px)" srcset="{{ $tlImageLarge.RelPermalink }}">
            <img src="{{ $tlImageLarge.RelPermalink }}" class="pb-4 sm:pb-0 sm:transition sm:duration-300 sm:ease-in-out sm:group-hover:opacity-40 sm:cursor-pointer w-full">
          </picture>
          <a href="{{ .top }}" class="block text-light-text bg-green p-4 text-center max-w-1/2 sm:max-w-full text-lg mb-4 sm:mb-0 sm:opacity-0 group-hover:opacity-100 sm:duration-300 sm:absolute sm:left-0 sm:bottom-0 sm:right-0 sm:z-10 sm:flex sm:justify-center sm:text-xl sm:bg-transparent sm:items-center sm:h-full sm:text-black">
            Details
          </a>
        </div>
        <div class="sm:relative group">
          {{ $blImageNameSmall := printf "images/birds/%s-sm.jpg" .bottom }}
          {{ $blImageSmall := resources.Get $blImageNameSmall }}
          {{ $blImageNameLarge := printf "images/birds/%s-lg.jpg" .bottom }}
          {{ $blImageLarge := resources.Get $blImageNameLarge }}

          <picture>
            <source media="(max-width: 640px)" srcset="{{ $blImageSmall.RelPermalink }}">
            <source media="(min-width: 641px)" srcset="{{ $blImageLarge.RelPermalink }}">
            <img src="{{ $blImageLarge.RelPermalink }}" class="pb-4 sm:pb-0 sm:transition sm:duration-300 sm:ease-in-out sm:group-hover:opacity-40 sm:cursor-pointer w-full">
          </picture>
          <a href="{{ .bottom }}" class="block text-light-text bg-green p-4 text-center max-w-1/2 sm:max-w-full text-lg mb-4 sm:mb-0 sm:opacity-0 group-hover:opacity-100 sm:duration-300 sm:absolute sm:left-0 sm:bottom-0 sm:right-0 sm:z-10 sm:flex sm:justify-center sm:text-xl sm:bg-transparent sm:items-center sm:h-full sm:text-black">
            Details
          </a>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}

{{ end }}
