{{ define "main" }}

<section class="pt-4 pb-12 sm:p-8 lg:px-16 lg:py-4">
  <div class="container mx-auto bg-blue-light text-light-text">
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
      <div>
        {{ with .Params.image }}
        {{ $imageNameSmall := printf "images/birds/%s-lg.jpg" .file }}
        {{ $imageSmall := resources.Get $imageNameSmall }}
        {{ $imageNameLarge := printf "images/birds/%s-lg.jpg" .file }}
        {{ $imageLarge := resources.Get $imageNameLarge }}

        <picture>
          <source media="(max-width: 640px)" srcset="{{ $imageSmall.RelPermalink }}">
          <source media="(min-width: 641px)" srcset="{{ $imageLarge.RelPermalink }}">
          <img src="{{ $imageLarge.RelPermalink }}" class="w-full">
        </picture>
        {{ end }}
      </div>
      <div class="sm:grid sm:grid-cols-3 px-4 sm:px-2 sm:gap-6 lg:gap-4">
        <div class="flex flex-col justify-between sm:col-span-2">
          <div class="py-2 mb-4 sm:py-6 flex flex-col gap-4">
            <div class="text-2xl">
              {{ .Title }}
            </div>
            <div>
              {{ .Content }}
            </div>
            {{ with .Params.image }}
            <div class="flex items-center gap-4 mt-8">
              <div>
                <img src="/svg/chevron-right-light.svg" height="16px" width="16px">
              </div>
              <div>
                {{ .species }}
              </div>
            </div>
            <div class="flex items-center gap-4">
              <div>
                <img src="/svg/camera-light.svg" height="16px" width="16px">
              </div>
              <div>
                {{ .camera }}<br>
                {{ .lens }}
              </div>
            </div>
            <div class="flex items-center gap-4">
              <div>
                <img src="/svg/cog-light.svg" height="16px" width="16px">
              </div>
              <div>
                {{ .aperture }}<br>
                {{ .shutter }}<br>
                {{ .iso }}
              </div>
            </div>

            <div class="hidden sm:block">
              {{ $imageName := printf "images/birds/%s.jpg" .file }}
              {{ $image := resources.Get $imageName }}
              <a class="inline-flex gap-4 items-center cursor-pointer hover:bg-blue bg-blue-lighter transition duration-300 ease-in-out p-2 -ml-2 w-32 maximize" onclick=maximize({{ $image.RelPermalink }})>
                <div>
                  <img src="/svg/frame-expand-light.svg" height="16px" width="16px">
                </div>
                <span>
                  Maximize
                </span>
              </a>
            </div>
            <div>
              <a class="inline-flex gap-4 items-center cursor-pointer bg-blue hover:bg-blue-lighter transition duration-300 ease-in-out p-2 sm:-ml-2 w-32" href="{{ .link }}" target="_blank">
                <div>
                  <img src="/svg/dollar-light.svg" height="16px" width="16px">
                </div>
                <span>
                  Buy Prints
                </span>
              </a>
              {{ end }}
            </div>
          </div>
        </div>
        <div class="pt-8 sm:pt-4 sm:mb-0 mb-8 sm:flex sm:flex-wrap gap-4 sm:place-content-start md:justify-end sm:mr-2 xl:mr-6">
          {{ with .PrevInSection }}
          <a href="{{ .Permalink }}" class="tab-able transition duration-300 ease-in-out text-light-text bg-green hover:text-green hover:border-green hover:border-opacity-80 border-2 border-green hover:bg-light-body sm:text-sm sm:p-2 md:p-4 lg:text-base p-4 sm:max-h-16 lg:max-h-full mr-4 md:mr-0 w-24 sm:flex sm:justify-center">Previous</a>
          {{ end }}

          {{ with .NextInSection }}
          <a href="{{ .Permalink }}" class="tab-able transition duration-300 ease-in-out text-light-text bg-green hover:text-green hover:border-green hover:border-opacity-80 border-2 border-green hover:bg-light-body sm:text-sm sm:p-2 md:p-4 lg:text-base p-4 sm:max-h-16 lg:max-h-full w-24 sm:flex sm:justify-center">Next</a>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>

<div id="modal" class="hidden transition-all opacity-0 ease-in-out duration-300">
  <div id="close" class="hidden text-light-text">X</div>
  <div id="imgLoader" class="text-light-text text-2xl flex w-full justify-center items-center min-h-screen">
    <div id="imgLoaderText" class="animate-bounce-slow p-8">
      Loading...
    </div>
  </div>
</div>

{{ end }}