{{ define "main" }}

<section class="pt-4 pb-12 sm:p-8 lg:px-16 lg:py-4">
  <div class="container mx-auto bg-blue-light text-light-text">
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
      <div>
        {{ with .Params.image }}
        {{ $imageNameSmall := printf "images/birds/%s-lg.jpg" .file }}
        {{ $imageSmall := resources.Get $imageNameSmall }}
        {{ $imageNameLarge := printf "images/birds/%s-lg.jpg" .file }}
        {{ $imageLarge := resources.Get $imageNameLarge }}

        <picture>
          <source media="(max-width: 640px)" srcset="{{ $imageSmall.RelPermalink }}">
          <source media="(min-width: 641px)" srcset="{{ $imageLarge.RelPermalink }}">
          <img src="{{ $imageLarge.RelPermalink }}" class="w-full">
        </picture>
        {{ end }}
      </div>
      <div class="px-4 py-2 mb-4 sm:px-2 sm:py-6 flex flex-col gap-4">
        <div class="text-2xl">
          {{ .Title }}
        </div>
        <div>
          {{ .Content }}
        </div>
        {{ with .Params.image }}
        <div class="flex items-center gap-4 mt-8">
          <div>
            <img src="/svg/chevron-right-light.svg" height="16px" width="16px">
          </div>
          <div>
            {{ .species }}
          </div>
        </div>
        <div class="flex items-center gap-4">
          <div>
            <img src="/svg/camera-light.svg" height="16px" width="16px">
          </div>
          <div>
            {{ .camera }}<br>
            {{ .lens }}
          </div>
        </div>
        <div class="flex items-center gap-4">
          <div>
            <img src="/svg/cog-light.svg" height="16px" width="16px">
          </div>
          <div>
            {{ .aperture }}<br>
            {{ .shutter }}<br>
            {{ .iso }}
          </div>
        </div>
        {{ end }}
      </div>
    </div>
  </div>
</section>

{{ end }}