{{ with .Site.Params.primaryColor }}
$primary: {{ . }};
{{ end }}
{{ with .Site.Params.googleFont }}
@import url('https://fonts.googleapis.com/css?family={{ . }}:400,700');
$family-sans-serif: {{ . }}, sans-serif;
{{ end }}
{{ with .Site.Params.backgroundColor }}
$bg-color: {{ . }};
{{ end }}

// @import "../bulma/bulma.sass";

@import "../bulma/sass/utilities/_all";
@import "../bulma/sass/base/_all";
@import "../bulma/sass/elements/_all";
@import "../bulma/sass/form/_all";
@import "../bulma/sass/components/_all";
@import "../bulma/sass/grid/_all";
@import "../bulma/sass/helpers/_all";
@import "../bulma/sass/layout/_all";

body {
  background-color: $bg-color;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navbar {
  background-color: $bg-color;
}

a.navbar-item:hover {
  background-color: #ebebeb;
}

// main {
//   flex: 1;
// }

.max-800px {
  max-width: 800px;
}

.author-image {
  object-fit: cover;
  border-radius: 50%;
  width: 48px;
  height: 48px;
}

.title-image {
  padding-bottom: 2em;
}