{{ define "main" }}
<section class="py-4 pb-12 sm:p-8 lg:px-16 lg:py-4">
  <div class="container mx-auto">
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 pb-4">
      {{ range .Pages }}
      <div class="bg-blue-light text-light-text">
        <div>
          {{ $imageName := printf "images/blog/%s" .Params.listImage }}
          {{ $image := resources.Get $imageName }}
          {{ $image := $image.Resize "x410 webp photo" }}
          <a href="{{ .Permalink }}">
            <figure>
              <img src="{{ $image.RelPermalink }}" alt="{{ .Params.alt }}">
            </figure>
          </a>
        </div>
        <div class="ml-4 -mt-4 flex gap-2">
          {{ range $idx, $tag := .Params.tags }}
          <a class="text-green bg-light-body py-1 px-2 text-sm">{{ $tag }}</a>
          {{ end }}
        </div>
        <div class="p-4">
          <div class="text-2xl">
            <a href="{{ .Permalink }}">{{ .Title }}</a>
          </div>
          <div class="my-1 text-sm">
            {{ .Site.Params.Author }} | {{ .PublishDate.Format "January 2, 2006" }}
          </div>
          <div class="my-4">
            {{ .Summary }}
          </div>
          <a href="{{ .Permalink }}" class="transition duration-300 ease-in-out text-light-text bg-green hover:text-green hover:border-green hover:border-opacity-80 border-2 border-green hover:bg-light-body p-4 sm:max-h-16 lg:max-h-full inline-block">Read More</a>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}