{{ define "main" }}
<section class="py-4 mb-12 sm:p-8 lg:px-16 lg:py-4">
  <article class="container mx-auto bg-blue-light">
    {{ with .Params.singleCover }}
    {{ $imageName := printf "images/blog/%s" .name }}
    {{ $image := resources.Get $imageName }}
    {{ $image := $image.Resize "x600 webp photo q100" }}
    <figure>
      <img src="{{ $image.RelPermalink }}" alt="{{ .alt }}" class="sm:w-full">
    </figure>
    {{ end }}

    <div class="p-4 bg-blue-light text-light-text lg:w-1/2">
      <div class="-mt-10 pb-4 pt-2 gap-2 flex">
        {{ range $idx, $tag := .Params.tags }}
          <a class="bg-light-body text-green py-1 px-2 text-sm">{{ $tag }}</a>
        {{ end }}
      </div>
      <div class="text-3xl">
        {{ .Title }}
      </div>
      <div class="my-1 text-sm">
        {{ .Site.Params.Author }} | {{ .PublishDate.Format "January 2, 2006" }}
      </div>
      <div class="mt-4">
        {{ .Content }}
      </div>
    </div>
  </article>
</section>
{{ end }}