{{ define "main" }}
<section class="py-4 mb-12 sm:p-8 lg:px-16 lg:py-4">
  <article class="container mx-auto bg-blue-lighter">
    {{ with .Params.cover }}
    {{ $imageName := printf "images/blog/%s" .name }}
    {{ $image := resources.Get $imageName }}
    {{ $image := $image.Resize "x600 webp photo q90" }}
    <figure>
      <img src="{{ $image.RelPermalink }}" alt="{{ .alt }}" class="sm:w-full">
    </figure>
    {{ end }}

    <div class="p-4 bg-blue-lighter text-light-text lg:w-1/2">
      <div class="-mt-10 pb-4 pt-2 gap-2 flex text-sm">
        {{ range $idx, $tag := .Params.tags }}
          <a class="bg-green py-1 px-2">{{ $tag }}</a>
        {{ end }}
      </div>
      <div class="text-3xl">
        {{ .Title }}
      </div>
      <div class="my-1 text-sm">
        {{ .Site.Params.Author }} | {{ .PublishDate.Format "January 2, 2006" }}
      </div>
      <div class="mt-4">
        {{ .Content | markdownify }}
      </div>
    </div>
  </article>
</section>
<!-- <section class="section">
  <div class="columns is-centered">
    <div class="column max-800px">
      <div class="columns is-mobile">
        <div class="column has-text-left">
          {{ with .PrevInSection }}
          <p>Previous post</p>
          <a href="{{ .Permalink }}">{{ .Title }}</a>
          {{ end }}
        </div>
        <div class="column has-text-right">
          {{ with .NextInSection }}
          <p>Next post</p>
          <a href="{{ .Permalink }}">{{ .Title }}</a>
        {{ end }}
        </div>
      </div>
    </div>
  </div>
</section> -->
{{ end }}