<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  {{- partial "head.html" . -}}
  <body class="bg-light-body font-roboto min-h-screen w-full justify-between flex flex-col fixed">
    {{- partial "preloader.html" . -}}
    <div class="">
      {{- partial "header.html" . -}}
      {{- partial "banner.html" . -}}
      <main>
        {{- block "main" . }}{{- end }}
      </main>
    </div>
    <div class="flex">
      {{- partial "footer.html" . -}}
    </div>
    {{- partial "script.html" . -}}
    <!-- {{ if isset .Params "photo" }}
    <script src="/js/lightbox-plus-jquery.min.js">
      lightbox.option({
        '':
      })
    </script>
    {{ end }} -->
  </body>
</html>
