@tailwind base;
@tailwind components;
@tailwind utilities;

.landing {
  min-height: calc(100vh - 4rem);
  background-position: 35%;
  background-image: url('../images/birds/015A2981-750px.jpg');
}

/* @media (min-width: 600px) {
  .landing {
    min-height: calc(100vh - 3.5rem);
    background-image: none;
  }
} */