<header class="px-4 sm:px-8 lg:px-16 text-light-text sm:text-green inset-x-0 fixed bg-blue bottom-0 sm:bg-light-body sm:static h-16 sm:h-14 flex items-center">
  <nav class="hidden sm:container sm:mx-auto sm:flex justify-between items-center">
    <a href="/" title="home" class="hidden sm:hover:underline sm:flex sm:items-center">
      <span class="font-bold text-3xl">{{ .Site.Title }}</span>
    </a>
    <div class="hidden items-center sm:flex sm:gap-10">
      {{ $current := . }}
      {{ range .Site.Menus.main }}
      {{ $active := or ($current.IsMenuCurrent "main" .) ($current.HasMenuCurrent "main" .) }}
      {{ $active = or $active (eq .Name $current.Title) }}
      {{ $active = or $active (eq .URL $current.RelPermalink) }}
      {{ $active = or $active (and (eq .Name "Images") (eq $current.Section "images")) }}
      {{ $active = or $active (and (eq .Name "Blog") (eq $current.Section "blog")) }}
      {{ $active = or $active (and (eq .Name "Home") (eq $current.Title "") ) }}
      <a href="{{ .URL }}" title="{{ .Title }}" class="sm:hover:underline {{ if $active }} font-bold {{end}}">{{ .Name }}</a>
      {{ end }}
    </div>
  </nav>

  <nav class="flex h-16 w-full mx-auto justify-between items-center sm:hidden">
    {{ range .Site.Menus.main }}
    <a href="{{ .URL }}" title="{{ .Name }}" class="flex flex-col gap-2 items-center justify-center w-16 h-16">
      <picture>
        <source srcset="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" media="(min-width: 640px)">
        <img src="{{ .Pre | absURL }}" alt="{{ .Name }}" class="inline-block" width="24px" height="24px">
      </picture>

      <span class="text-xs">{{ .Name }}</span>
    </a>
    {{ end }}
  </nav>
</header>