<head>
  <meta http-equiv="Content-Type" content="text/html"charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ with .Summary }}{{ . }}{{ else }}{{ .Site.Params.description }}{{ end }}{{ end }} ">

  <title>{{ if not .IsHome }}{{ with .Title }}{{ . }} | {{ end }}{{ end }}{{ .Site.Title }}</title>

  {{ partial "favicon.html" . }}

  {{ $style := resources.Get "css/main.css" | postCSS }}

  {{ if .Site.IsServer }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}"/>
  {{ else }}
    {{ $style := $style | minify | fingerprint | resources.PostProcess }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}" integrity="{{ $style.Data.Integrity }}"/>
  {{ end }}

  <!-- {{ if isset .Params "photo" }}
  <link rel="stylesheet" href="/css/lightbox.min.css">
  {{ end }} -->

  <link rel="preload" href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" as="style">

  <link rel="canonical" href="{{ .Permalink }}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap">
</head>